.hed-div{
    height: 80px;
    background-color: #0b2b59;
    color: white;
    font-size: 3rem;
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 10px;
}

.choices{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: -24px;
}
.choice{
     height: 165px;
    width: 165px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    gap:30px;
    height: 150px;
    font-weight: bolder;
    margin-top: 15px;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#msg{
    height: 40px;
    font-size: 2rem;
    background-color: #0b2b59;
    color: white;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 12px;
}